.shadow-material {
  box-shadow: var(--shadow-material);
}

.bg-material-blue {
  background-color: var(--color-material-blue);
}

.input-item {
  --background: #f3f4f6;
  --border-radius: 8px;
  --padding-start: 12px;
  margin-bottom: 8px;
}

ion-button {
  --background: var(--color-material-blue);
  --background-activated: var(--color-material-blue-dark);
  --background-hover: var(--color-material-blue-light);
  --box-shadow: 0 4px 6px -1px rgba(25, 118, 210, 0.3);
  margin-top: 2rem;
}

ion-input {
  --highlight-color-focused: #1976D2;
  --highlight-color-valid: #1976D2;
  --highlight-color-invalid: #1976D2;
}