<app-header title="Panel del Instructor"></app-header>

<ion-content class="ion-padding bg-gray-50">
  <div class="max-w-4xl mx-auto mt-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Bienvenido, Instructor</h1>
    <p class="text-gray-600">Gestiona estudiantes, ejercicios y rutinas aquí.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8">
      <!-- Configuración General -->
      <app-action-card
        link="/instructor/settings"
        title="Configuración General"
        description="Personalizar mensajes y ajustes globales"
        iconName="settings"
        iconBgClass="bg-purple-100"
        iconTextClass="text-purple-600">
      </app-action-card>

      <!-- Mis Estudiantes -->
      <app-action-card
        link="/instructor/students"
        title="Mis Estudiantes"
        description="Ver y gestionar el progreso de los estudiantes"
        iconName="people"
        iconBgClass="bg-blue-100"
        iconTextClass="text-blue-600">
      </app-action-card>

      <!-- Ejercicios -->
      <app-action-card
        link="/instructor/manage-routines"
        title="Ejercicios"
        description="Crear y editar la biblioteca de ejercicios"
        iconName="barbell"
        iconBgClass="bg-green-100"
        iconTextClass="text-green-600">
      </app-action-card>
    </div>
  </div>
</ion-content>
